{% extends 'layout.html' %}
{% block main %}
    <link href="/static/styles.css" rel="stylesheet"/>
     Welcome, {{ curemail }} <BR>
    {% block checksize %}
        {% if meetings is not defined %}
            <p>No meetings yet! Start advising.</p>
        {% elif number == None %}
            <p>Start advising those students.</p>
        {% elif meetings == None %}
            <p>Start advising those students.</p>
        {% else %}
            <table>
                <tr>
                    <th>Student Name</th>
                    <th>Meeting Time</th>
                    <th>Notes For Advisors</th>
                </tr>
            {% for meet in meetings %}
                <tr>
                    <th>{{ meet.studentname }}</th>
                    <th>{{ meet.advisorid }}</th>
                    <!-- <th>{{ meet }}</th> -->
                </tr>
            {% endfor %}
        {% endif %}
    {% endblock %}
    </table>
{% endblock %}