{% extends 'layout.html' %}
{% block main %}
    <link href="/static/styles.css" rel="stylesheet"/>
     Welcome, {{ curemail }} <BR>

    {% block checksize %}
        {% if meetings is not defined %}
            <p>No meetings yet! Start advising.</p>
        {% elif number == None %}
            <p>Start advising those students.</p>
        {% elif meetings == None %}
            <p>Start advising those students.</p>
        {% else %}
            <form action="/finishadvising" method="post">
            <table cellpadding="5">
                <tr>
                    <th>Student Name</th>
                    <th>Meeting Time</th>
                    <th>Seen student</th>
                </tr>
            {% for meet in meetings %}
                <tr>
                    <th>{{ meet.studentname }}</th>
                    <th>{{ meet.meetingtime }}</th>
                    <th>{{ meet.meetingid }}</th>
                    <td><input type=checkbox name=do_delete value="{{ meet.meetingid }}"></td><td>{{ meet.meetingid }}</td>
                    <!-- <th>{{ meet }}</th> -->
                </tr>
            {% endfor %}
            </table>
            <input type="submit" value="Mark as Viewed">
            </form>
        {% endif %}
    {% endblock %}
    </table>
{% endblock %}