{% extends 'layout.html' %}
{% block main %}
    <link href="/static/styles.css" rel="stylesheet"/>
    <div class="info">
    Welcome to EnTec Advising.  Administrators may log in to add or remove advisors or view previous advising sessions.
    <BR>
    Students and prospective students, add your info below to visit with an advisor.
    <BR>
    <form action = "/addstudent" method="post">
            Advisor:
            {{ studentForm.advisor }}
                {% if studentForm.advisor.errors %}
                    {% for error in studentForm.advisor.errors %}
                        <p class="error-messages">{{ error }}</p>
                    {% endfor %}
                {% endif %}
    <BR><BR>
        <div class="form-group">
                    {{ studentForm.name.label }}
                    {{ name }}
                    {% if studentForm.name.errors %}
                        {% for error in studentForm.name.errors %}
                        <p class="error-messages">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                    {{  studentForm.name }}
                </div>
                <div class="form-group">
    <BR><BR>
                    {{ studentForm.submit }}
    </form>
    </div>
{% endblock %}