{% extends 'layout.html' %}
{% block main %}
    <form method="post" action="/login">
        {{  form.hidden_tag() }}
        <div class="form-group">
            {{ form.email.label }}
            {% if form.email.errors %}
                {% for error in form.email.errors %}
                    <p class="error-messages">{{ error }}</p>
                        {% endfor %}
                    {% endif %}

                    {{  form.email }}
                </div>
        <div class="form-group">
        {{ form.password.label }}
        {% if form.password.errors %}
            {% for error in form.password.errors %}
                <p class="error-messages">{{ error }}</p>
                    {% endfor %}
                {% endif %}

                {{  form.password }}
            </div>
        <div class="form-group">
            {{ form.submit(class="btn-primary") }}
        </div>
        <div class="form-group">
            <button type="submit">Log In</button>
        </div>
    </form>


{% endblock %}